<div id="container">

  <a routerLink="farm">
  <div class="card">
    <p>
      Farms
    </p>
    <img src="../../../assets/img/farm.gif" alt="Imagem 1">
  </div>
  </a>

  <a routerLink="build">
  <div class="card">
    <p>
      Contruçoes
    </p>
    <img src="../../../assets/img/build.gif" alt="Imagem 2">
  </div>
 </a>

 <a routerLink="biome">
  <div class="card">
    <p>
      Biomas
    </p>
    <img src="../../../assets/img/biome.gif" alt="Imagem 3">
  </div>
</a>

<a routerLink="galeria">
  <div class="card">
    <p class="texto">
      Em Breve
    </p>
    <img src="../../../assets/img/casa-automatica-minecraft.gif" alt="Imagem 3">
  </div>
</a>
</div>