#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*background-image: url("../../../assets/img/wood.png");*/
  border: 6px solid black;
  background-repeat: repeat;
  margin: 2%;
  border-radius: 5px;
}

.card {
  width: 300px;
  margin: 20px;
  /*box-shadow: 0 4px 8px rgba(150, 22, 22, 0.1);*/
  border-radius: 8px;
  overflow: hidden;
  border: 5px solid white;
  border-style: dashed;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border-bottom: 5px dashed white;



}

.card p {
  padding: 15px;
  text-align: center;
}