<head>
  <link
    href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    rel="stylesheet"
  />
</head>

<div class="title">
  <h1 class="title">Biomas</h1>
  <p>
    Os biomas no Minecraft oferecem uma variedade visual e ambiental única,
    influenciando significativamente a experiência do jogador. Desde florestas
    exuberantes até desertos vastos, cada bioma tem suas próprias
    características distintas, incluindo flora, fauna e terreno. Essas
    diferenças não apenas tornam a exploração mais fascinante, mas também
    desempenham um papel crucial na busca por recursos específicos. A adaptação
    aos desafios e oportunidades apresentados por diferentes biomas é uma parte
    essencial do sucesso no Minecraft.
  </p>
</div>

<div class="container">
  <section class="slider">
    <div class="seta arrow-left">
      <i class="fas fa-chevron-circle-left"></i>
    </div>

    <img src="../../assets/img/foto1.png" alt="slide-1.jpg" />
    <img src="../../assets/img/foto2.png" alt="slide-2.jpg" />
    <img src="../../assets/img/foto3.png" alt="slide-3.jpg" />
    <img src="../../assets/img/foto1.png" alt="slide-4.jpg" />

    <div class="seta arrow-right">
      <i class="fas fa-chevron-circle-right"></i>
    </div>

    <div class="paginacao">
      <div class="botao"><i class="far fa-circle"></i></div>
      <div class="botao"><i class="far fa-circle"></i></div>
      <div class="botao"><i class="far fa-circle"></i></div>
      <div class="botao"><i class="far fa-circle"></i></div>
    </div>
  </section>
  <!--slider-->
  <div class="texto">
    <p id="legenda">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero at sint
      rerum recusandae eligendi consequuntur molestiae cumque in, perspiciatis
      ipsa quo accusamus nihil sequi cupiditate magnam distinctio modi libero
      possimus!
    </p>
  </div>
</div>
