<div id="container">
    <form>
        <p>
          <label for="nome">NickName: </label>
          <input
            class="inputboxs"
            type="text"
            id="nome"
            placeholder="Como gostaria de ser chamado?"
            autocomplete="off"
            maxlength="12"
            size="30"
            required=""
          />
        </p>

        <p>
          <label for="email">Email: </label>
          <input
            class="inputboxs"
            type="email"
            id="email"
            name="email"
            placeholder="Qual seu endereço eletronico?"
            autocomplete="off"
            size="30"
            required=""
          />
        </p>

        <p>
          <label for="nome">Senha: </label>
          <input
            class="inputboxs"
            type="password"
            id="sobrenome"
            placeholder="Digite sua melhor senha!"
            autocomplete="off"
            maxlength="20"
            size="30"
            required=""
          />
        </p>

        <p>
            <label for="tempo">Quantos anos você tem?</label>
            <input class="inputboxs" type="number" id="tempo" maxlength="2" placeholder="Quantos niveis de expeciencia?" size="30" required="" />
          </p>


        <p>
          Qual seu estilo de jogo?
          <br />
          <!--<input type="radio" name="Area" value="0" checked />Não decidi ainda <br />-->
          <input type="radio" name="Area" value="1" />Aventureiro <br />
          <input type="radio" name="Area" value="2" />Construtor <br />
          <input type="radio" name="Area" value="3" />Mago da Redstone <br />
        </p>

        <!--<p>
          Tenho interrese sobre:
          <br />
          <input type="checkbox" name="html" id="html" value="html" />
          <label for="copia">Contruções</label>
          <br />
          <input type="checkbox" name="css" id="css" value="css" />
          <label for="diretor">Farms</label>
          <br />
          <input type="checkbox" name="c++" id="c++" value="c++" />
          <label for="diretor">Biomas</label>
          <br />
        </p> -->

      <p align="center">
        <input type="reset" name="Limpar" Value="Limpar" />
        <a routerLink="">
        <input type="submit" name="Enviar" value="Enviar" />
      </a>
      </p>
    </form>
</div>
