<div class="title">
    <h1 class="title">Bem-Vindo</h1>

    <p>
      - Sobre oque o e site?
      <br>
      O site e sobre ...
    </p>

    <p>
      - Com oque o site foi feito?
      <br>
      O site foi feito com suor, lagrimas e sangue,
      <br>
      e também usei Angular
    </p>

    <p>
      <br>
      Criado pelo aluno José Antonio
      <br>
      <a href="https://www.linkedin.com/in/joseantoniorsouto/" target="_blank"><img class="rede-social" src="../../../assets/img/linkedin.png" alt=""></a>
      <a href="https://github.com/JarsBr" target="_blank"><img class="rede-social" src="../../../assets/img/github.png" alt=""></a>
    </p>

    </div>  