/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: MinecraftRegular-Bmg3;

    src: url("assets/font/MinecraftRegular-Bmg3.otf");
}
* {
    font-family: MinecraftRegular-Bmg3;
    color: white;
    font-size: large;
}
body {
    background-image: url("../src/assets/img/fundo3.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}